@model PcPartsShopDomain.Model.Psu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Psu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ProductId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Wattage" class="control-label"></label>
                <input asp-for="Wattage" class="form-control" type="number" min="0" />
                <span asp-validation-for="Wattage" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Modular" /> @Html.DisplayNameFor(model => model.Modular)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Efficiency" class="control-label"></label>
                <input asp-for="Efficiency" class="form-control"/>
                <span asp-validation-for="Efficiency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CleanupOrphanedProduct" asp-controller="Products" asp-route-productId="@Model.ProductId">Скасувати створення</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
